[submodule "tools"]
	path = tools
	url = https://github.com/nativescript-community/plugin-seed-tools.git
[submodule "demo-ng"]
	path = demo-ng
	url = https://github.com/nativescript-community/plugin-seed-demo-ng.git
