<ActionBar title="--Title--" class="action-bar">
    <GridLayout rows="*" columns="*,*" marginRight="10">
        <Label row="0" col="0"
               [text]="actionBarTitle"
               horizontalAlignment="left" verticalAlignment="center"
               class="action-title"></Label>

        <Label row="0" col="1"
               [text]="(currentPeripheral.isConnected) ? 'Connected' : 'Disconnected'"
               horizontalAlignment="right" verticalAlignment="center"
               class="action-item"></Label>
    </GridLayout>
</ActionBar>
