
page {
  background-color: #f4f4f4;
}

ActivityIndicator {
  padding-bottom: 8;
}

.tab-content {
  color: #808080;
  padding: 5;
  margin: 3;
}

.title {
  font-size: 18;
  margin: 0 0 8 0;
  color: #3c3c3c;
  /*horizontal-align: center;*/
}

label {
  font-size: 15;
}

.hint {
  font-size: 14;
  margin: 8;
}

/* button {
  background-color: #e0a458;
  padding: 6;
  margin: 6;
  font-size: 14;
  border-radius: 4;
} */

.text-center {
  text-align: center;
  horizontal-align: center;
}

.btn-positive {
  background-color: #ff4801;
  color: #fff;
}

.btn-red {
  background-color: #dc4449;
  color: #fff;
}

.btn-neutral {
  background-color: #6494aa;
}

.btn-green {
  background-color: #3da457;
  color: #fff;
}

.padded-label {
  padding: 0 12;
}

.padded-label-stack {
  padding: 12;
}

.title-label {
  padding: 0 0 12 0;
  font-weight: bold;
}

.uuid-label {
  font-size: 10;
}

.rssi-label {
  font-size: 10;
}
