.details-label-title {
  padding: 0 0 12 0;
  font-size: 24;
  font-weight: bold;
}

.details-uuid-label {
  font-size: 14;
  padding: 10 10 10 10;
}

.details-padded-row {
  padding: 14 0 14 0
}

.details-services-uuid {
  font-size: 12;
  padding: 10;
}

.characteristic-properties {
  padding: 10;
}

.characteristic-property {
  padding: 5;
  margin-right: 10;
  border-radius: 5;
  background-color: #aaa;
  color: #fff;
}

.characteristic-feedback {
  padding-top: 20;
  color: darkgreen;
  font-size: 18;
}

.characteristic-feedback-raw {
  padding-top: 10;
  color: darkgreen;
  font-size: 14;
}

.characteristic-feedback-timestamp {
  padding-top: 10;
  color: darkgreen;
  font-size: 14;
}