<TabView class="tab-view">
    <StackLayout *tabItem="{title: 'Demo'}" orientation="vertical">
        <StackLayout orientation="vertical" class="tab-content">
            <GridLayout columns="*, *" rows="auto, auto, auto, auto" horizontalAlignment="center">
                <Button row="0" colSpan="2" text="Is bluetooth enabled?" (tap)="doIsBluetoothEnabled()"
                    class="btn btn-primary"></Button>
                <Label row="1" colSpan="2" horizontalAlignment="center" text="Scan 4 seconds for:"
                    textWrap="true"></Label>
                <Button row="2" col="0" text="vault"
                    (tap)="doStartScanning(['0000181a-0000-1000-8000-00805f9b34fb'], 4)" class="btn btn-green"></Button>
                <Button row="2" col="1" text="a heartrate monitor" (tap)="doStartScanning(['180d'], 4)"
                    class="btn btn-green"></Button>
                <Button row="3" colSpan="2" text="Stop scan" (tap)="doStopScanning()" class="btn btn-red"></Button>
            </GridLayout>

            <ActivityIndicator [busy]="bluetoothService.isScanning"
                [visibility]="bluetoothService.isScanning ? 'visible' : 'collapse'">
            </ActivityIndicator>

            <ble-peripheral-list></ble-peripheral-list>

        </StackLayout>
    </StackLayout>

    <StackLayout *tabItem="{title: 'About'}" orientation="vertical">
        <ScrollView>
            <StackLayout class="tab-content">
                <Label text="Bluetooth Plugin Demo" class="h2 m-y-20"></Label>
                <Label
                    text="The Bluetooth plugin allows your app to scan for Bluetooth LE devices. Once found you can connect to a peripheral and read values. You can also write values and get notified when a value changes."
                    textWrap="true" class="body"></Label>
            </StackLayout>
        </ScrollView>
    </StackLayout>
</TabView>